* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --ff-primary: 'Roboto', sans-serif;
    --text-color: #E1E1E6;
    --text-header-color: #FFFFFF;

    --table-head-color: #092D38;
    --button-color: #065E7C;
    --background-input: #06181C;
    --text-input: #7C7C8A;
    --background-color: #000000;

    --background-color-tr-even: #06161C;
    --border-color: #4A808C;

    --color-remove: #F75A68;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}

body {
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: var(--background-color);
}

body * {
    font-family: var(--ff-primary);
}

.favorite {
    background-color: var(--button-color);
}

#app {
    padding: 2rem;
    max-width: 1080px;
    min-width: 796px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
    margin-top: 11.5rem;
}

header h1 {
    font-size: 3.2rem;
}

.search {
    display: flex;
    align-items: center;
    gap: 8px;
}

.search input {
    height: 4.8rem;
    width: 34.2rem;
    padding: 1.6rem;
    border-radius: 5px;
    color: var(--text-input);
    background-color: var(--background-input);
    border: none;
}

.search button {
    width: 15rem;
    height: 4.8rem;
    background-color: var(--button-color);
    border: none;
    padding: 0 1rem;
    cursor: pointer;

    gap: 8px;
    border-radius: .4rem;
    color: var(--text-header-color);
}

.search button:hover {
    filter: brightness(1.1);
}

table {
    margin-top: 8.7rem;
    width: 100%;
    border-collapse: collapse;
}

table * {
    font-size: 1.4rem;
    color: var(--text-color);
}

table th {
 background: var(--table-head-color);
 text-align: left;
 font-weight: normal;
 padding: 1.5rem;
}

table th:first-child {
    border-top-left-radius: .4rem;
}

table th:last-child {
    border-top-right-radius: .4rem;    
}

table tr {
    background: var(--background-color-tr-even);
}

table tr:nth-child(odd) {
    background: var(--background-color);   
}

table td {
    padding: 1.5rem;
    text-align: left;
}

td.user {
    display: flex;
    align-items: center;
    gap: 1rem;
}

td.user img {
    width: 5rem;
    height: 5rem;

    object-fit: cover;
    border-radius: 50%;
}

td.user p {
    font-weight: bold;
}

td.user a {
    text-decorate: none;
}

td .remove {
    background: none;
    border: none;
    font-weight: bold;
    color: var(--color-remove);
    cursor: pointer;
}